@if(promotion().company.logoUrl) {
<div class="logos">
  <img [src]="promotion().company.logoUrl | uploadUrl" [alt]="promotion().company.name" />
</div>

<nz-divider />
}

<h4 nz-typography>Скидка до {{ promotion().size }}% в {{ promotion().company.name }}</h4>

<div class="company">Магазин: {{ promotion().company.name }}</div>
<div class="category">Категория: {{ promotion().company.category.value }}</div>

<nz-divider />

<div class="content">
  <div>Срок действия:</div>

  <div>
    С <b>{{ formatDate(promotion().startAt) }}</b> по
    <b>{{ formatDate(promotion().endAt) }}</b>
  </div>
</div>

<nz-divider />

<app-rating
  [message]="`Рейтинг ${promotion().company.name}`"
  [value]="promotion().company.rating"
  [reviews]="promotion().company.review"
  [disabled]="true"
/>
