@if(companyData) {
<nz-card [nzHoverable]="isHoverable" (click)="handler()">
  <div class="header">
    @if (companyData.logoUrl) {
    <img [src]="companyData.logoUrl! | uploadUrl" [alt]="companyData.name" class="company-logo" />
    } @else {
    <h2 nz-typography class="">{{ companyData.name }}</h2>
    }

    <nz-divider />
  </div>

  <div class="info">
    @if(companyData.about) {
    <h4 nz-typography>О компании:</h4>
    <div>{{ companyData.about }}</div>
    }

    <div class="category">
      <h4 nz-typography>Категория:</h4>
      <div>{{ companyData.category.value }}</div>
    </div>

    <div class="coutries">
      <h4 nz-typography>Страны:</h4>

      <ul class="country-list">
        @for (country of companyData.countries; track country.id) {
        <li>{{ country.value }}</li>
        }
      </ul>
    </div>
  </div>

  @if(showRating()) {
  <div class="footer">
    <nz-divider />
    <app-rating
      [value]="companyData.rating"
      [reviews]="companyData.review"
      [disabled]="true"
      message="Рейтинг компании:"
    />
  </div>
  }
</nz-card>
}
