.clear-icon {
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: opacity 0.3s, color 0.3s;
}

.clear-icon:hover {
  color: rgba(0, 0, 0, 0.45);
}

.clear-icon.hide {
  opacity: 0;
  pointer-events: none;
}
