<nz-form-item>
  <nz-form-control [formGroup]="formGroup()">
    @if(label()) {
    <nz-form-label nzLabelAlign="left">{{ label() }}</nz-form-label>
    }

    <nz-input-group [nzSuffix]="suffixTemplate">
      <input
        nz-input
        [(ngModel)]="value"
        [nzAutocomplete]="autocomplete"
        (ngModelChange)="onChangeHandler($event)"
        [formControlName]="name()"
        [placeholder]="placeholder()"
      />

      <nz-autocomplete #autocomplete>
        @for (option of filteredOptions; track option.id) {
        <nz-auto-option [nzValue]="option.id" [nzLabel]="option.value.toString()">
          {{ option.value }}
        </nz-auto-option>
        }
      </nz-autocomplete>
    </nz-input-group>

    <ng-template #suffixTemplate>
      <nz-icon
        [class]="`clear-icon ${value ? 'show' : 'hide'}`"
        nzType="close-circle"
        nzTheme="fill"
        (click)="clearHandler()"
        (keypress)="clearHandler()"
      />
    </ng-template>
  </nz-form-control>
</nz-form-item>
