.profile_btn {
  display: grid;
  width: max-content;
  height: auto;
  grid-template-areas:
    'avatar .'
    'avatar username'
    'avatar role'
    'avatar .';
  justify-items: start;
  align-items: center;
  gap: 0 1em;
  line-height: 1.2;
  padding: 0.5em 1em;
}

.avatar {
  grid-area: avatar;
}

.username {
  grid-area: username;
}

.role {
  grid-area: role;
  font-size: 0.8em;
}
