@if(promotion().company.logoUrl || promotion().bank?.logoUrl) {
<div class="logos">
  @if (promotion().company.logoUrl) {
  <img [src]="promotion().company.logoUrl! | uploadUrl" [alt]="promotion().company.name" class="company-logo" />
  }
  
  @if (promotion().bank?.logoUrl) {
  <img [src]="promotion().bank!.logoUrl! | uploadUrl" [alt]="promotion().bank!.name" class="bank-logo" />
  }
</div>

<nz-divider />
}

<h4 nz-typography>
  @if (isDiscount(promotion())) {
    Скидка до {{ promotion().size }}% в {{ promotion().company.name }}
  }

  @if (isCashback(promotion())) {
    Кэшбек {{ promotion().size }}% в {{ promotion().company.name }}
  }

  @if (isPromoCode(promotion())) {
    Скидка до {{ promotion().size }}% по промокоду<br />
    в {{ promotion().company.name }}
  }
</h4>

<div class="company">Магазин: {{ promotion().company.name }}</div>
<div class="category">Категория: {{ promotion().company.category.value }}</div>

@if (isCashback(promotion())) {
<div class="bank">Банк: {{ promotion().bank!.name }}</div>
}

<nz-divider />

<div class="content">
  <div>Срок действия:</div>

  <div>
    С <b>{{ formatDate(promotion().startAt) }}</b> по
    <b>{{ formatDate(promotion().endAt) }}</b>
  </div>
</div>

<nz-divider />

<nz-space nzSize="middle" nzDirection="vertical">
  @if (isPromoCode(promotion())) {
  <div class="promo-btn-value" *nzSpaceItem>
    <button nz-button nzType="primary" (click)="showPromoCode()">Показать промокод!</button>

    @if(isPromoVisible) {
    <span nz-typography class="promo-value">{{ promotion().promoCode }}</span>
    }
  </div>
  }

  <app-rating
    *nzSpaceItem
    [message]="`Рейтинг ${promotion().company.name}`"
    [value]="promotion().company.rating"
    [reviews]="promotion().company.review"
    [disabled]="true"
  />
</nz-space>
