@if(promotionItem) {
<nz-card>
  @if(promotionItem.company.logoUrl || promotionItem.bank?.logoUrl) {
  <div class="logos">
    @if (promotionItem.company.logoUrl) {
    <img
      [src]="promotionItem.company.logoUrl! | uploadUrl"
      [alt]="promotionItem.company.name"
      class="company-logo"
    />
    }
    @if (promotionItem.bank?.logoUrl) {
    <img
      [src]="promotionItem.bank!.logoUrl! | uploadUrl"
      [alt]="promotionItem.bank!.name"
      class="bank-logo"
    />
    }
  </div>

  <nz-divider />
  }

  <h4 nz-typography>
    @if (isDiscount(promotionItem)) {
    Скидка до {{ promotionItem.size }}% в {{ promotionItem.company.name }}
    }
    
    @if (isCashback(promotionItem)) {
    Кэшбек {{ promotionItem.size }}% в {{ promotionItem.company.name }}
    }
    
    @if (isPromoCode(promotionItem))
    { Скидка {{ promotionItem.size }}% по промокоду<br />
    в {{ promotionItem.company.name }}
    }
  </h4>

  <div class="company">Магазин: {{ promotionItem.company.name }}</div>
  <div class="category">Категория: {{ promotionItem.company.category.value }}</div>

  @if (isCashback(promotionItem)) {
  <div class="bank">Банк: {{ promotionItem.bank!.name }}</div>
  }

  <nz-divider />

  <div class="content">
    <div>Срок действия:</div>

    <div>
      С
      <b>{{ promotionItem.startAt | date : 'mediumDate' : '' : 'ru' }}</b> по
      <b>{{ promotionItem.endAt | date : 'mediumDate' : '' : 'ru' }}</b>
    </div>
  </div>

  @if (showRating || isPromoCode(promotionItem)) {
  <nz-divider />

  <nz-space nzSize="middle" nzDirection="vertical">
    @if (isPromoCode(promotionItem)) {
    <div class="promo-btn-value" *nzSpaceItem>
      <button nz-button nzType="primary" (click)="showPromoCode()">Показать промокод!</button>

      @if(isPromoVisible) {
      <span nz-typography class="promo-value">{{ promotionItem.promoCode }}</span>
      }
    </div>
    }
    
    @if(showRating) {
    <app-rating
      *nzSpaceItem
      [message]="`Рейтинг ${promotionItem.company.name}`"
      [value]="promotionItem.company.rating"
      [reviews]="promotionItem.company.review"
      [disabled]="true"
    />
    }
  </nz-space>
  }
</nz-card>
}
