:host {
  display: grid;
  overflow: hidden;
}

.logos {
  position: relative;
  display: grid;
  width: 100%;
  grid-auto-rows: 2.5em;
  grid-template-areas: 'company_logo bank_logo';
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  margin-top: 1.5em;
}

.company-logo {
  grid-area: company_logo;
}

.bank-logo {
  grid-area: bank_logo;
}

.logos > img {
  height: 100%;
}

.promo-btn-value {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.promo-value {
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
  transform: translateX(100%);
  animation: fadeInLeft 0.3s ease-out 0.5s forwards;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
