<nz-form-item>
  <nz-form-control [nzErrorTip]="nzErrorTip()" [formGroup]="formGroup()">
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input
        nz-input
        [type]="passwordVisible() ? 'text' : 'password'"
        [formControlName]="name()"
        [placeholder]="placeholder()"
      />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <nz-icon
        [nzType]="passwordVisible() ? 'eye-invisible' : 'eye'"
        (click)="switchVisibility()"
        (keypress)="switchVisibility()"
      />
    </ng-template>
  </nz-form-control>
</nz-form-item>
